name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        task: [default, fastapi-react, fullstack-js, npm-package, svelte, renovate]

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"

      - name: Validate ${{ matrix.task }}.json
        run: npx --yes --package renovate --strict -- renovate-config-validator ${{ matrix.task }}.json
